{% extends 'base.html' %}
{% block title %} Przeglądaj! {% endblock %}

{% block content %}
<div class="block"></div>
<div class="container">
    <div class="box">
        <div id="grid" class="columns is-reset is-flex">
            <div class="column is-vcentered" id="title">
                <div class="has-text-centered">
                    <h1 class="title">Przeglądaj!</h1>
                    <h1 class="subtitle">Szukaj tutaj swojej ulubionej firmy, kategorie i wiele innych!</h1>
                    <div class="control has-icons-right">
                        <input class="input is-rounded" type="text" placeholder="Szukaj!">
                        <span class="icon is-small is-right">
                            <i class="fas fa-search"></i>
                          </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block"></div>
<section class="cards-top">
    <div class="container">
        <div id="grid" class="columns is-reset is-flex">
            <div class="column is-vcentered" id="title">
              <div class="has-text-centered">
                <h1 class="title">Najgorętsze w tym miesiącu!</h1>
                <h2 class="subtitle">Te przedmioty były najczęsciej kupowane w tym miesiącu.</h2>
              </div>
            </div>
          </div>
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                        <img src="https://www.picclickimg.com/d/l400/pict/233813532831_/OFF-White-Hoodie-19S-OW-Hoodie-Print-Casual-Jacket.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h2 class="title">Bluza Off-White Nice Weather</h2>
                            <span class="tag is-danger">400zł</span>
                        </div>
                        <button class="button is-primary is-rounded">Dodaj do koszyka!</button>
                    </div>
                </div>
            </div>
            <div class="column is-2 is-offset-1">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                        <img src="https://images.solecollector.com/images/fl_lossy,q_auto/piehdxtcycrepx0wvn0t/air-jordan-11-xi-bred-2019-release-date-378037-061-medial-heel" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h2 class="title">Buty Jordan Bred 2019</h2>
                            <span class="tag is-danger">600zł</span>
                        </div>
                        <button class="button is-primary is-rounded">Dodaj do koszyka!</button>
                    </div>
                </div>
            </div>
            <div class="column is-2 is-offset-1">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="https://sklep.sizeer.com/media/cache/gallery/rc/etl6s0pn/jordan-t-shirt-aj1-shoe-meskie-t-shirty-czarny-cz0432-010.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h2 class="title">Koszulka Doir Hanging J's</h2>
                            <span class="tag is-danger">300zł</span>
                        </div>
                        <button class="button is-primary is-rounded">Dodaj do koszyka!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="block"></div>
<section class="cards-new">
    <div class="container">
        <div id="grid" class="columns is-reset is-flex">
            <div class="column is-vcentered" id="title">
              <div class="has-text-centered">
                <h1 class="title">Najnowsze w tym tygodniu!</h1>
                <h2 class="subtitle">Te przedmioty są z najnowszej kolekcji Travisa Scotta.</h2>
              </div>
            </div>
          </div>
        <div class="columns">
            <div class="column is-2 is-offset-2">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                        <img src="https://a.allegroimg.com/s1024/0cd3f5/316392414caea4ae1b27a1a5cff7" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h2 class="title">Buty Travis Scott Jordan 1 High</h2>
                            <span class="tag is-danger">800zł</span>
                        </div>
                        <button class="button is-primary is-rounded" disabled>Dodaj do koszyka!</button>
                    </div>
                </div>
            </div>
            <div class="column is-2 is-offset-1">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                        <img src="https://d2lllwtzebgpl1.cloudfront.net/7a9a5bf8-4230-4414-adf4-877d5a0e01a9.jpeg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h2 class="title">Bluza Travis Scott Cactus Jack</h2>
                            <span class="tag is-danger">400zł</span>
                        </div>
                        <button class="button is-primary is-rounded" disabled>Dodaj do koszyka!</button>
                    </div>
                </div>
            </div>
            <div class="column is-2 is-offset-1">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                        <img src="https://cdn.shopify.com/s/files/1/0492/0429/7888/products/Travis-Scott-McDonalds-All-American-92Nylon-Pants-II-Black-01_2048x2048.jpg?v=1600642290" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h2 class="title">Spodnie Travis Scott x McDonald's Cactus</h2>
                            <span class="tag is-danger">300zł</span>
                        </div>
                        <button class="button is-primary is-rounded" disabled>Dodaj do koszyka!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}