{% extends 'base.html' %}
{% block title %} Strona Głowna {% endblock %}

{% block content %}
<div class="block"></div>
<div class="box is-small">
  <div id="grid" class="columns is-reset is-flex">
    <div class="column is-vcentered" id="title">
      <div class="has-text-centered">
        <h1 class="title">Witaj na Shopify!</h1>
        <h1 class="subtitle">Na Shopify znajdziesz wiele ciekawych rzeczy, takich jak: bluzy, kurtki i wiele innych ciekawych rzeczy!</h1>
        <h1 class="subtitle">Nie czekaj zacznij przeglądać już teraz <a href="/browse">klikając tu!</a></h1>
      </div>
    </div>
  </div>
</div>
<div class="box is-small">
  <div id="grid" class="columns is-reset is-flex">
    <div class="column is-vcentered" id="title">
    </div>
  </div>
</div>
{% endblock %}
